@import "tailwindcss";



@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@keyframes fade-in {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}


.blink-sale {
  /* font-size: 2rem; */
  /* font-weight: medum; */
  padding: 12px 24px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ff1e56, #ffac41);
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 30, 86, 0.7);
  animation: blink 1s steps(2, start) infinite, glow 1.5s ease-in-out infinite;
}

/* ON/OFF blink effect */
@keyframes blink {
  50% { opacity: 0; }
}

/* Glowing effect */
@keyframes glow {
  0%, 100% { box-shadow: 0 0 10px #ff1e56, 0 0 20px #ffac41; }
  50% { box-shadow: 0 0 30px #ff1e56, 0 0 60px #ffac41; }
}
@keyframes pulse-slow {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.9; }
}
.animate-pulse-slow {
  animation: pulse-slow 5s ease-in-out infinite;
}


